git+https://github.com/SWivid/F5-TTS.git
streamlit-audiorecorder
streamlit==1.39.0
streamlit-authenticator
langchain==0.3.4
langchain-openai
pypdf==5.1.0
gTTS==2.5.3
asyncio
openai-whisper
pydub
soundfile
cached-path==1.6.3