fastapi>=0.115.4
pydantic>=2.9.2
pyjwt>=2.9.0
numpy==1.26.4
langchain==0.3.6
langchain-openai>=0.2.6
openai-whisper>=20240930 
coqui-tts>=0.24.3
pydub>=0.25.1
passlib>=1.7.4 
PyPDF2>=3.0.1
python-multipart==0.0.17
PyAudio==0.2.14
uvicorn==0.32.1
websockets==14.1
kokoro>=0.3.4
redis>=5.2.1
pytest-env>=1.1.5
pytest>=8.3.4